 html {
    height: 100%;
 }
 
 body {
    
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: url("http://pages.stern.nyu.edu/~rct279/websys/Natural-Paper-Background.jpg");
    background-repeat: no-repeat;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    

}


.name {
    color: white;
    text-align: center;
    background: #4aaaa5;
    height:60px;
    margin-left: 20%;
    margin-top: 0;
    
    float: left;
    padding-top: 30px;

}




header {

    background-color: white;
    width: 100%;
    border-bottom: solid;
    font-family: Georgia, Times, "Times New Roman", serif;
    border-color: #ccc;
    height: 90px;
    margin: 0;
}

.buttons {
    
    margin-left: 60%;
    padding-top: 30px;
    color: #ccc;
}

ul {
    list-style-type: none;
    font: Arial;
    color: #777777;
}



li a {
    
    
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: #777777;
}

li {
    display: inline;
}
li+li { 
        border-left: 1px solid #ccc; 
}

.aboutme {
    width: 66%;
    min-height: 240px;
    margin: 30px auto 18px auto;
    background-color: white;
    border: 1px solid #ccc;
    
   

}

.about {
    color: #4aaaa5;
    background-color: white;
    width: 66%;
    margin-left: 18px;
    padding-top: 20px;
    border-bottom: 2px, solid, #ccc;
    border-bottom-width: 70%;
    
}
    
#line {
    height: 2px;
    background-color: #ccc;
    width: 96%;
    margin: 0 auto;
}




img {
    float: left;
    margin-left: 18px;
    margin-right: 15px;
    margin-top: 18px;
    width: 16%;
    height: 36%;
}

p {
    margin: 10px;
    color: #777777;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
 
 
  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    color: white;
    background-color: rgb(78, 77, 77);
    height: 50px;
    border-top: 5px solid #4aaaa5;
    padding-top: 35px;
    width: 100%;
    
    }

.contactme {
    width: 480px;
    min-height: 200px;
    border: 5px #ccc;
    background: white;
    margin-left: 33.3%;
    margin-top: 25px;
    padding: 18px;


    
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
}






